# dependencies
node_modules

# testing
/coverage

# build
dist
.astro

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local
.env
.dev.vars

# typescript
*.tsbuildinfo

# cloudflare
wrangler.toml
.wrangler
