@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.footnotes {
  @apply py-10 my-10 border-t border-b border-border;
}

.footnotes :target {
  @apply bg-blue-400;
  @apply text-white;
  animation: resetColors 3s forwards; /* Add animation */
}

/* New animation to reset colors */
@keyframes resetColors {
  100% {
    @apply bg-background; /* Reset background to white in light mode, bg-background in dark mode */
    @apply rounded;
    @apply text-muted-foreground dark:text-muted-foreground; /* Reset text color */
  }
}

.footnotes ol {
  @apply text-xs;
  @apply text-muted-foreground dark:text-muted-foreground;
}

.footnotes li {
  @apply text-xs;
  @apply text-muted-foreground dark:text-muted-foreground;
}

.footnotes p {
  @apply text-xs;
  @apply text-muted-foreground dark:text-muted-foreground;
}

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1798px;
    stroke-dasharray: 1798px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1798px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1798px;
    stroke-dasharray: 1798px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1798px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 0.03s ease-in-out 0s both;
  animation: animate-svg-stroke-1 0.03s ease-in-out 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 8.52585220336914px;
    stroke-dasharray: 8.52585220336914px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.52585220336914px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 8.52585220336914px;
    stroke-dasharray: 8.52585220336914px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.52585220336914px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 0.03s ease-in-out 0.03s both;
  animation: animate-svg-stroke-2 0.03s ease-in-out 0.03s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 10.220744132995605px;
    stroke-dasharray: 10.220744132995605px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 10.220744132995605px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 10.220744132995605px;
    stroke-dasharray: 10.220744132995605px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 10.220744132995605px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 0.03s ease-in-out 0.06s both;
  animation: animate-svg-stroke-3 0.03s ease-in-out 0.06s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 9.427173614501953px;
    stroke-dasharray: 9.427173614501953px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.427173614501953px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 9.427173614501953px;
    stroke-dasharray: 9.427173614501953px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.427173614501953px;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 0.03s ease-in-out 0.09s both;
  animation: animate-svg-stroke-4 0.03s ease-in-out 0.09s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 16.94176197052002px;
    stroke-dasharray: 16.94176197052002px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 16.94176197052002px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 16.94176197052002px;
    stroke-dasharray: 16.94176197052002px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 16.94176197052002px;
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 0.03s ease-in-out 0.12s both;
  animation: animate-svg-stroke-5 0.03s ease-in-out 0.12s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 11.482698440551758px;
    stroke-dasharray: 11.482698440551758px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.482698440551758px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 11.482698440551758px;
    stroke-dasharray: 11.482698440551758px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.482698440551758px;
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 0.03s ease-in-out 0.15s both;
  animation: animate-svg-stroke-6 0.03s ease-in-out 0.15s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 20.824859619140625px;
    stroke-dasharray: 20.824859619140625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 20.824859619140625px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 20.824859619140625px;
    stroke-dasharray: 20.824859619140625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 20.824859619140625px;
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 0.03s ease-in-out 0.18s both;
  animation: animate-svg-stroke-7 0.03s ease-in-out 0.18s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 14.449031829833984px;
    stroke-dasharray: 14.449031829833984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.449031829833984px;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 14.449031829833984px;
    stroke-dasharray: 14.449031829833984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.449031829833984px;
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 0.03s ease-in-out 0.21s both;
  animation: animate-svg-stroke-8 0.03s ease-in-out 0.21s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 9.501641273498535px;
    stroke-dasharray: 9.501641273498535px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.501641273498535px;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 9.501641273498535px;
    stroke-dasharray: 9.501641273498535px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.501641273498535px;
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 0.03s ease-in-out 0.24s both;
  animation: animate-svg-stroke-9 0.03s ease-in-out 0.24s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 10.542708396911621px;
    stroke-dasharray: 10.542708396911621px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 10.542708396911621px;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 10.542708396911621px;
    stroke-dasharray: 10.542708396911621px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 10.542708396911621px;
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 0.03s ease-in-out 0.27s both;
  animation: animate-svg-stroke-10 0.03s ease-in-out 0.27s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 11.910400390625px;
    stroke-dasharray: 11.910400390625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.910400390625px;
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 11.910400390625px;
    stroke-dasharray: 11.910400390625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.910400390625px;
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 0.03s ease-in-out 0.3s both;
  animation: animate-svg-stroke-11 0.03s ease-in-out 0.3s both;
}

@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 13.52867317199707px;
    stroke-dasharray: 13.52867317199707px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 13.52867317199707px;
  }
}

@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 13.52867317199707px;
    stroke-dasharray: 13.52867317199707px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 13.52867317199707px;
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 0.03s ease-in-out
    0.32999999999999996s both;
  animation: animate-svg-stroke-12 0.03s ease-in-out 0.32999999999999996s both;
}

@-webkit-keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 15.430886268615723px;
    stroke-dasharray: 15.430886268615723px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 15.430886268615723px;
  }
}

@keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 15.430886268615723px;
    stroke-dasharray: 15.430886268615723px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 15.430886268615723px;
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-stroke-13 0.03s ease-in-out 0.36s both;
  animation: animate-svg-stroke-13 0.03s ease-in-out 0.36s both;
}

@-webkit-keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 13.181187629699707px;
    stroke-dasharray: 13.181187629699707px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 13.181187629699707px;
  }
}

@keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 13.181187629699707px;
    stroke-dasharray: 13.181187629699707px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 13.181187629699707px;
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-stroke-14 0.03s ease-in-out 0.39s both;
  animation: animate-svg-stroke-14 0.03s ease-in-out 0.39s both;
}

@-webkit-keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 9.735755920410156px;
    stroke-dasharray: 9.735755920410156px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.735755920410156px;
  }
}

@keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 9.735755920410156px;
    stroke-dasharray: 9.735755920410156px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.735755920410156px;
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-stroke-15 0.03s ease-in-out 0.42s both;
  animation: animate-svg-stroke-15 0.03s ease-in-out 0.42s both;
}

@-webkit-keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 11.518932342529297px;
    stroke-dasharray: 11.518932342529297px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.518932342529297px;
  }
}

@keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 11.518932342529297px;
    stroke-dasharray: 11.518932342529297px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.518932342529297px;
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-stroke-16 0.03s ease-in-out
    0.44999999999999996s both;
  animation: animate-svg-stroke-16 0.03s ease-in-out 0.44999999999999996s both;
}

@-webkit-keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 11.434063911437988px;
    stroke-dasharray: 11.434063911437988px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.434063911437988px;
  }
}

@keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 11.434063911437988px;
    stroke-dasharray: 11.434063911437988px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.434063911437988px;
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-stroke-17 0.03s ease-in-out 0.48s both;
  animation: animate-svg-stroke-17 0.03s ease-in-out 0.48s both;
}

@-webkit-keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 18.64366912841797px;
    stroke-dasharray: 18.64366912841797px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 18.64366912841797px;
  }
}

@keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 18.64366912841797px;
    stroke-dasharray: 18.64366912841797px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 18.64366912841797px;
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-stroke-18 0.03s ease-in-out 0.51s both;
  animation: animate-svg-stroke-18 0.03s ease-in-out 0.51s both;
}

@-webkit-keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 23.09874153137207px;
    stroke-dasharray: 23.09874153137207px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.09874153137207px;
  }
}

@keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 23.09874153137207px;
    stroke-dasharray: 23.09874153137207px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.09874153137207px;
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-stroke-19 0.03s ease-in-out 0.54s both;
  animation: animate-svg-stroke-19 0.03s ease-in-out 0.54s both;
}

@-webkit-keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 15.422468185424805px;
    stroke-dasharray: 15.422468185424805px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 15.422468185424805px;
  }
}

@keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 15.422468185424805px;
    stroke-dasharray: 15.422468185424805px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 15.422468185424805px;
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-stroke-20 0.03s ease-in-out 0.57s both;
  animation: animate-svg-stroke-20 0.03s ease-in-out 0.57s both;
}

@-webkit-keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 34.25077438354492px;
    stroke-dasharray: 34.25077438354492px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 34.25077438354492px;
  }
}

@keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 34.25077438354492px;
    stroke-dasharray: 34.25077438354492px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 34.25077438354492px;
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-stroke-21 0.03s ease-in-out 0.6s both;
  animation: animate-svg-stroke-21 0.03s ease-in-out 0.6s both;
}

@-webkit-keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 25.326278686523438px;
    stroke-dasharray: 25.326278686523438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 25.326278686523438px;
  }
}

@keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 25.326278686523438px;
    stroke-dasharray: 25.326278686523438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 25.326278686523438px;
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-stroke-22 0.03s ease-in-out 0.63s both;
  animation: animate-svg-stroke-22 0.03s ease-in-out 0.63s both;
}

@-webkit-keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 23.65534210205078px;
    stroke-dasharray: 23.65534210205078px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.65534210205078px;
  }
}

@keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 23.65534210205078px;
    stroke-dasharray: 23.65534210205078px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.65534210205078px;
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-stroke-23 0.03s ease-in-out 0.6599999999999999s
    both;
  animation: animate-svg-stroke-23 0.03s ease-in-out 0.6599999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 22.561777114868164px;
    stroke-dasharray: 22.561777114868164px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.561777114868164px;
  }
}

@keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 22.561777114868164px;
    stroke-dasharray: 22.561777114868164px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 22.561777114868164px;
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-stroke-24 0.03s ease-in-out 0.69s both;
  animation: animate-svg-stroke-24 0.03s ease-in-out 0.69s both;
}

@-webkit-keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 12.866896629333496px;
    stroke-dasharray: 12.866896629333496px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 12.866896629333496px;
  }
}

@keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 12.866896629333496px;
    stroke-dasharray: 12.866896629333496px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 12.866896629333496px;
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-stroke-25 0.03s ease-in-out 0.72s both;
  animation: animate-svg-stroke-25 0.03s ease-in-out 0.72s both;
}

@-webkit-keyframes animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 14.125669479370117px;
    stroke-dasharray: 14.125669479370117px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.125669479370117px;
  }
}

@keyframes animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 14.125669479370117px;
    stroke-dasharray: 14.125669479370117px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.125669479370117px;
  }
}

.svg-elem-26 {
  -webkit-animation: animate-svg-stroke-26 0.03s ease-in-out 0.75s both;
  animation: animate-svg-stroke-26 0.03s ease-in-out 0.75s both;
}

@-webkit-keyframes animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 14.192291259765625px;
    stroke-dasharray: 14.192291259765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.192291259765625px;
  }
}

@keyframes animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 14.192291259765625px;
    stroke-dasharray: 14.192291259765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.192291259765625px;
  }
}

.svg-elem-27 {
  -webkit-animation: animate-svg-stroke-27 0.03s ease-in-out 0.78s both;
  animation: animate-svg-stroke-27 0.03s ease-in-out 0.78s both;
}

@-webkit-keyframes animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 8.089819431304932px;
    stroke-dasharray: 8.089819431304932px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.089819431304932px;
  }
}

@keyframes animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 8.089819431304932px;
    stroke-dasharray: 8.089819431304932px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.089819431304932px;
  }
}

.svg-elem-28 {
  -webkit-animation: animate-svg-stroke-28 0.03s ease-in-out 0.8099999999999999s
    both;
  animation: animate-svg-stroke-28 0.03s ease-in-out 0.8099999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 10.390128135681152px;
    stroke-dasharray: 10.390128135681152px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 10.390128135681152px;
  }
}

@keyframes animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 10.390128135681152px;
    stroke-dasharray: 10.390128135681152px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 10.390128135681152px;
  }
}

.svg-elem-29 {
  -webkit-animation: animate-svg-stroke-29 0.03s ease-in-out 0.84s both;
  animation: animate-svg-stroke-29 0.03s ease-in-out 0.84s both;
}

@-webkit-keyframes animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 19.363710403442383px;
    stroke-dasharray: 19.363710403442383px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 19.363710403442383px;
  }
}

@keyframes animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 19.363710403442383px;
    stroke-dasharray: 19.363710403442383px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 19.363710403442383px;
  }
}

.svg-elem-30 {
  -webkit-animation: animate-svg-stroke-30 0.03s ease-in-out 0.87s both;
  animation: animate-svg-stroke-30 0.03s ease-in-out 0.87s both;
}

@-webkit-keyframes animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 14.055790901184082px;
    stroke-dasharray: 14.055790901184082px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.055790901184082px;
  }
}

@keyframes animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 14.055790901184082px;
    stroke-dasharray: 14.055790901184082px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.055790901184082px;
  }
}

.svg-elem-31 {
  -webkit-animation: animate-svg-stroke-31 0.03s ease-in-out 0.8999999999999999s
    both;
  animation: animate-svg-stroke-31 0.03s ease-in-out 0.8999999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 39.493221282958984px;
    stroke-dasharray: 39.493221282958984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 39.493221282958984px;
  }
}

@keyframes animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 39.493221282958984px;
    stroke-dasharray: 39.493221282958984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 39.493221282958984px;
  }
}

.svg-elem-32 {
  -webkit-animation: animate-svg-stroke-32 0.03s ease-in-out 0.9299999999999999s
    both;
  animation: animate-svg-stroke-32 0.03s ease-in-out 0.9299999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 41.058223724365234px;
    stroke-dasharray: 41.058223724365234px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 41.058223724365234px;
  }
}

@keyframes animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 41.058223724365234px;
    stroke-dasharray: 41.058223724365234px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 41.058223724365234px;
  }
}

.svg-elem-33 {
  -webkit-animation: animate-svg-stroke-33 0.03s ease-in-out 0.96s both;
  animation: animate-svg-stroke-33 0.03s ease-in-out 0.96s both;
}

@-webkit-keyframes animate-svg-stroke-34 {
  0% {
    stroke-dashoffset: 58.858306884765625px;
    stroke-dasharray: 58.858306884765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 58.858306884765625px;
  }
}

@keyframes animate-svg-stroke-34 {
  0% {
    stroke-dashoffset: 58.858306884765625px;
    stroke-dasharray: 58.858306884765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 58.858306884765625px;
  }
}

.svg-elem-34 {
  -webkit-animation: animate-svg-stroke-34 0.03s ease-in-out 0.99s both;
  animation: animate-svg-stroke-34 0.03s ease-in-out 0.99s both;
}

@-webkit-keyframes animate-svg-stroke-35 {
  0% {
    stroke-dashoffset: 60.740745544433594px;
    stroke-dasharray: 60.740745544433594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 60.740745544433594px;
  }
}

@keyframes animate-svg-stroke-35 {
  0% {
    stroke-dashoffset: 60.740745544433594px;
    stroke-dasharray: 60.740745544433594px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 60.740745544433594px;
  }
}

.svg-elem-35 {
  -webkit-animation: animate-svg-stroke-35 0.03s ease-in-out 1.02s both;
  animation: animate-svg-stroke-35 0.03s ease-in-out 1.02s both;
}

@-webkit-keyframes animate-svg-stroke-36 {
  0% {
    stroke-dashoffset: 46.86239242553711px;
    stroke-dasharray: 46.86239242553711px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 46.86239242553711px;
  }
}

@keyframes animate-svg-stroke-36 {
  0% {
    stroke-dashoffset: 46.86239242553711px;
    stroke-dasharray: 46.86239242553711px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 46.86239242553711px;
  }
}

.svg-elem-36 {
  -webkit-animation: animate-svg-stroke-36 0.03s ease-in-out 1.05s both;
  animation: animate-svg-stroke-36 0.03s ease-in-out 1.05s both;
}

@-webkit-keyframes animate-svg-stroke-37 {
  0% {
    stroke-dashoffset: 27.11135482788086px;
    stroke-dasharray: 27.11135482788086px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 27.11135482788086px;
  }
}

@keyframes animate-svg-stroke-37 {
  0% {
    stroke-dashoffset: 27.11135482788086px;
    stroke-dasharray: 27.11135482788086px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 27.11135482788086px;
  }
}

.svg-elem-37 {
  -webkit-animation: animate-svg-stroke-37 0.03s ease-in-out 1.08s both;
  animation: animate-svg-stroke-37 0.03s ease-in-out 1.08s both;
}

@-webkit-keyframes animate-svg-stroke-38 {
  0% {
    stroke-dashoffset: 8.44789171218872px;
    stroke-dasharray: 8.44789171218872px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.44789171218872px;
  }
}

@keyframes animate-svg-stroke-38 {
  0% {
    stroke-dashoffset: 8.44789171218872px;
    stroke-dasharray: 8.44789171218872px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.44789171218872px;
  }
}

.svg-elem-38 {
  -webkit-animation: animate-svg-stroke-38 0.03s ease-in-out 1.1099999999999999s
    both;
  animation: animate-svg-stroke-38 0.03s ease-in-out 1.1099999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-39 {
  0% {
    stroke-dashoffset: 11.275334358215332px;
    stroke-dasharray: 11.275334358215332px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.275334358215332px;
  }
}

@keyframes animate-svg-stroke-39 {
  0% {
    stroke-dashoffset: 11.275334358215332px;
    stroke-dasharray: 11.275334358215332px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.275334358215332px;
  }
}

.svg-elem-39 {
  -webkit-animation: animate-svg-stroke-39 0.03s ease-in-out 1.14s both;
  animation: animate-svg-stroke-39 0.03s ease-in-out 1.14s both;
}

@-webkit-keyframes animate-svg-stroke-40 {
  0% {
    stroke-dashoffset: 14.045021057128906px;
    stroke-dasharray: 14.045021057128906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.045021057128906px;
  }
}

@keyframes animate-svg-stroke-40 {
  0% {
    stroke-dashoffset: 14.045021057128906px;
    stroke-dasharray: 14.045021057128906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 14.045021057128906px;
  }
}

.svg-elem-40 {
  -webkit-animation: animate-svg-stroke-40 0.03s ease-in-out 1.17s both;
  animation: animate-svg-stroke-40 0.03s ease-in-out 1.17s both;
}

@-webkit-keyframes animate-svg-stroke-41 {
  0% {
    stroke-dashoffset: 23.410078048706055px;
    stroke-dasharray: 23.410078048706055px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.410078048706055px;
  }
}

@keyframes animate-svg-stroke-41 {
  0% {
    stroke-dashoffset: 23.410078048706055px;
    stroke-dasharray: 23.410078048706055px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.410078048706055px;
  }
}

.svg-elem-41 {
  -webkit-animation: animate-svg-stroke-41 0.03s ease-in-out 1.2s both;
  animation: animate-svg-stroke-41 0.03s ease-in-out 1.2s both;
}

@-webkit-keyframes animate-svg-stroke-42 {
  0% {
    stroke-dashoffset: 35.97999954223633px;
    stroke-dasharray: 35.97999954223633px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 35.97999954223633px;
  }
}

@keyframes animate-svg-stroke-42 {
  0% {
    stroke-dashoffset: 35.97999954223633px;
    stroke-dasharray: 35.97999954223633px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 35.97999954223633px;
  }
}

.svg-elem-42 {
  -webkit-animation: animate-svg-stroke-42 0.03s ease-in-out 1.23s both;
  animation: animate-svg-stroke-42 0.03s ease-in-out 1.23s both;
}

@-webkit-keyframes animate-svg-stroke-43 {
  0% {
    stroke-dashoffset: 43.022891998291016px;
    stroke-dasharray: 43.022891998291016px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 43.022891998291016px;
  }
}

@keyframes animate-svg-stroke-43 {
  0% {
    stroke-dashoffset: 43.022891998291016px;
    stroke-dasharray: 43.022891998291016px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 43.022891998291016px;
  }
}

.svg-elem-43 {
  -webkit-animation: animate-svg-stroke-43 0.03s ease-in-out 1.26s both;
  animation: animate-svg-stroke-43 0.03s ease-in-out 1.26s both;
}

@-webkit-keyframes animate-svg-stroke-44 {
  0% {
    stroke-dashoffset: 38.93865203857422px;
    stroke-dasharray: 38.93865203857422px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 38.93865203857422px;
  }
}

@keyframes animate-svg-stroke-44 {
  0% {
    stroke-dashoffset: 38.93865203857422px;
    stroke-dasharray: 38.93865203857422px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 38.93865203857422px;
  }
}

.svg-elem-44 {
  -webkit-animation: animate-svg-stroke-44 0.03s ease-in-out 1.29s both;
  animation: animate-svg-stroke-44 0.03s ease-in-out 1.29s both;
}

@-webkit-keyframes animate-svg-stroke-45 {
  0% {
    stroke-dashoffset: 23.13147735595703px;
    stroke-dasharray: 23.13147735595703px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.13147735595703px;
  }
}

@keyframes animate-svg-stroke-45 {
  0% {
    stroke-dashoffset: 23.13147735595703px;
    stroke-dasharray: 23.13147735595703px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.13147735595703px;
  }
}

.svg-elem-45 {
  -webkit-animation: animate-svg-stroke-45 0.03s ease-in-out 1.3199999999999998s
    both;
  animation: animate-svg-stroke-45 0.03s ease-in-out 1.3199999999999998s both;
}

@-webkit-keyframes animate-svg-stroke-46 {
  0% {
    stroke-dashoffset: 9.175161361694336px;
    stroke-dasharray: 9.175161361694336px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.175161361694336px;
  }
}

@keyframes animate-svg-stroke-46 {
  0% {
    stroke-dashoffset: 9.175161361694336px;
    stroke-dasharray: 9.175161361694336px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.175161361694336px;
  }
}

.svg-elem-46 {
  -webkit-animation: animate-svg-stroke-46 0.03s ease-in-out 1.3499999999999999s
    both;
  animation: animate-svg-stroke-46 0.03s ease-in-out 1.3499999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-47 {
  0% {
    stroke-dashoffset: 8.519771575927734px;
    stroke-dasharray: 8.519771575927734px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.519771575927734px;
  }
}

@keyframes animate-svg-stroke-47 {
  0% {
    stroke-dashoffset: 8.519771575927734px;
    stroke-dasharray: 8.519771575927734px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 8.519771575927734px;
  }
}

.svg-elem-47 {
  -webkit-animation: animate-svg-stroke-47 0.03s ease-in-out 1.38s both;
  animation: animate-svg-stroke-47 0.03s ease-in-out 1.38s both;
}

@-webkit-keyframes animate-svg-stroke-48 {
  0% {
    stroke-dashoffset: 12.988826751708984px;
    stroke-dasharray: 12.988826751708984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 12.988826751708984px;
  }
}

@keyframes animate-svg-stroke-48 {
  0% {
    stroke-dashoffset: 12.988826751708984px;
    stroke-dasharray: 12.988826751708984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 12.988826751708984px;
  }
}

.svg-elem-48 {
  -webkit-animation: animate-svg-stroke-48 0.03s ease-in-out 1.41s both;
  animation: animate-svg-stroke-48 0.03s ease-in-out 1.41s both;
}

@-webkit-keyframes animate-svg-stroke-49 {
  0% {
    stroke-dashoffset: 7.457948207855225px;
    stroke-dasharray: 7.457948207855225px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 7.457948207855225px;
  }
}

@keyframes animate-svg-stroke-49 {
  0% {
    stroke-dashoffset: 7.457948207855225px;
    stroke-dasharray: 7.457948207855225px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 7.457948207855225px;
  }
}

.svg-elem-49 {
  -webkit-animation: animate-svg-stroke-49 0.03s ease-in-out 1.44s both;
  animation: animate-svg-stroke-49 0.03s ease-in-out 1.44s both;
}

@-webkit-keyframes animate-svg-stroke-50 {
  0% {
    stroke-dashoffset: 11.111909866333008px;
    stroke-dasharray: 11.111909866333008px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.111909866333008px;
  }
}

@keyframes animate-svg-stroke-50 {
  0% {
    stroke-dashoffset: 11.111909866333008px;
    stroke-dasharray: 11.111909866333008px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 11.111909866333008px;
  }
}

.svg-elem-50 {
  -webkit-animation: animate-svg-stroke-50 0.03s ease-in-out 1.47s both;
  animation: animate-svg-stroke-50 0.03s ease-in-out 1.47s both;
}

@-webkit-keyframes animate-svg-stroke-51 {
  0% {
    stroke-dashoffset: 13.097107887268066px;
    stroke-dasharray: 13.097107887268066px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 13.097107887268066px;
  }
}

@keyframes animate-svg-stroke-51 {
  0% {
    stroke-dashoffset: 13.097107887268066px;
    stroke-dasharray: 13.097107887268066px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 13.097107887268066px;
  }
}

.svg-elem-51 {
  -webkit-animation: animate-svg-stroke-51 0.03s ease-in-out 1.5s both;
  animation: animate-svg-stroke-51 0.03s ease-in-out 1.5s both;
}

@-webkit-keyframes animate-svg-stroke-52 {
  0% {
    stroke-dashoffset: 33.00234413146973px;
    stroke-dasharray: 33.00234413146973px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.00234413146973px;
  }
}

@keyframes animate-svg-stroke-52 {
  0% {
    stroke-dashoffset: 33.00234413146973px;
    stroke-dasharray: 33.00234413146973px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 33.00234413146973px;
  }
}

.svg-elem-52 {
  -webkit-animation: animate-svg-stroke-52 0.03s ease-in-out 1.53s both;
  animation: animate-svg-stroke-52 0.03s ease-in-out 1.53s both;
}

@-webkit-keyframes animate-svg-stroke-53 {
  0% {
    stroke-dashoffset: 46px;
    stroke-dasharray: 46px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 46px;
  }
}

@keyframes animate-svg-stroke-53 {
  0% {
    stroke-dashoffset: 46px;
    stroke-dasharray: 46px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 46px;
  }
}

.svg-elem-53 {
  -webkit-animation: animate-svg-stroke-53 0.03s ease-in-out 1.56s both;
  animation: animate-svg-stroke-53 0.03s ease-in-out 1.56s both;
}

@-webkit-keyframes animate-svg-stroke-54 {
  0% {
    stroke-dashoffset: 61.00432586669922px;
    stroke-dasharray: 61.00432586669922px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.00432586669922px;
  }
}

@keyframes animate-svg-stroke-54 {
  0% {
    stroke-dashoffset: 61.00432586669922px;
    stroke-dasharray: 61.00432586669922px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.00432586669922px;
  }
}

.svg-elem-54 {
  -webkit-animation: animate-svg-stroke-54 0.03s ease-in-out 1.5899999999999999s
    both;
  animation: animate-svg-stroke-54 0.03s ease-in-out 1.5899999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-55 {
  0% {
    stroke-dashoffset: 71.06873321533203px;
    stroke-dasharray: 71.06873321533203px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 71.06873321533203px;
  }
}

@keyframes animate-svg-stroke-55 {
  0% {
    stroke-dashoffset: 71.06873321533203px;
    stroke-dasharray: 71.06873321533203px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 71.06873321533203px;
  }
}

.svg-elem-55 {
  -webkit-animation: animate-svg-stroke-55 0.03s ease-in-out 1.6199999999999999s
    both;
  animation: animate-svg-stroke-55 0.03s ease-in-out 1.6199999999999999s both;
}

@-webkit-keyframes animate-svg-stroke-56 {
  0% {
    stroke-dashoffset: 37.02342987060547px;
    stroke-dasharray: 37.02342987060547px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 37.02342987060547px;
  }
}

@keyframes animate-svg-stroke-56 {
  0% {
    stroke-dashoffset: 37.02342987060547px;
    stroke-dasharray: 37.02342987060547px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 37.02342987060547px;
  }
}

.svg-elem-56 {
  -webkit-animation: animate-svg-stroke-56 0.03s ease-in-out 1.65s both;
  animation: animate-svg-stroke-56 0.03s ease-in-out 1.65s both;
}

@-webkit-keyframes animate-svg-stroke-57 {
  0% {
    stroke-dashoffset: 46.099952697753906px;
    stroke-dasharray: 46.099952697753906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 46.099952697753906px;
  }
}

@keyframes animate-svg-stroke-57 {
  0% {
    stroke-dashoffset: 46.099952697753906px;
    stroke-dasharray: 46.099952697753906px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 46.099952697753906px;
  }
}

.svg-elem-57 {
  -webkit-animation: animate-svg-stroke-57 0.03s ease-in-out 1.68s both;
  animation: animate-svg-stroke-57 0.03s ease-in-out 1.68s both;
}
